

.container 
{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.container_login
{
    max-width: 1080px;
}

.container_admin-post
{
    max-width: 1180px;
}


.header 
{
    padding-top: 20px;
    margin-bottom: 131px;
}

.post__header {
    margin-bottom: 111px;
}

.header__inner 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Lora';
    font-size: 26px;
}

.menu 
{
    display: inline;
    padding: 8px 0 0 0;
}

.menu__item {
    font-family: 'Oxygen';
    font-size: 12px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 10px;
    margin: 0 10px;
}

.promo 
{
    background: url('../img/background/promo-bg.jpg') center center / cover no-repeat;
    min-height: 500px;
}

.promo__title 
{
    text-align: center;
    font-family: 'Lora';
    font-size: 50px;  
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-bottom: 22px;
}

.promo__text
{
    margin-bottom: 34px;
    text-align: center;
    font-family: 'Oxygen';
    font-size: 17px;
    color: rgba(255, 255, 255, 0.63);
}

.promo__btn 
{
    display: block;
    Width: 167px;
    Height: 44px; 
    margin: 0 auto;
    background-color: #DD783F;
    border-radius: 3px;
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 1.5;
    padding: 12px 18px;
    color: #FFFFFF;
}

.nav 
{
    background: #FFFFFF;
}

.nav .container 
{
    display:  flex;
    justify-content:  space-between;
}

.nav__inner
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}

.nav__item 
{
    font-family: 'Lora';
    font-size: 14px;
    color: #768088;
    padding: 13px 16px;
    margin: 12px 0;
}

.news 
{
    padding: 64px 0 83px;
    background-color: #F7F7F7;
}

.news__title {
    position: relative;
    font-family: 'Oxygen';
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
    margin-bottom: 46px;
}

.title__after::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translate(-50%, -50%);
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
}

.featured-posts
{
    margin-bottom: 67px;
}

.featured-posts__wrapper 
{
    display: flex;
    justify-content: space-between;
}

.featured-posts__post
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 460px;
    height: 280px;
    padding: 20px;
}

.featured-posts__post-theme 
{
    position: absolute;
    top: 21px;
    left: 21px;
    padding: 6px 9px;
    background-color: #DD783F;
    border-radius: 2px;
    font-family: 'Oxygen';
    font-size: 12px;
    text-transform: uppercase;
}

.featured-posts__post-title
{
    font-family: 'Lora';
    font-size: 27px;
    margin-bottom: 17px
}

.featured-posts__post-text 
{
    font-family: 'Oxygen';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 21px;
}

.featured-posts__post-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-posts__post-autor 
{
    display: flex;
    align-items: center;
}

.featured-posts__post-autor-photo
{
    display: block;
    border-radius: 50%;
    margin-right: 10px;
}

.featured-posts__post-footer 
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.most-recent__wrapper
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.most-recent__post 
{
    width: 296px;
    min-height: 291px;
    margin-bottom: 21px;
    background-color: #FCFCFC;
}

.most-recent__post-body
{
    min-height: 91px;
    padding: 13px;
    background-color: #FFFFFF;
}


.most-recent__post-title 
{
    font-family: 'Lora';
    font-size: 16px;
    color: #101315;
    margin-bottom: 14px;
}

.most-recent__post-text 
{
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 1.3;
    color: #7A7A7A;
}

.most-recent__post-footer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    font-family: 'Oxygen';
    font-size: 11px;
    color: #999999;
    border-top: #EFEFEF 1px solid;
}

.most-recent__post-autor
{
    display: flex;
    align-items: center;
}

.most-recent__post-autor-photo
{
    margin-right: 10px;
}

.form__wrapper 
{
    background: url('../img/background/footer_bg.png') center center / cover no-repeat;
}

.form
{
    padding: 83px 0 89px;
}

.form__title
{
    position: relative;
    font-family: 'Oxygen';
    font-size: 25px;
    text-align: center;
    margin-bottom: 41px;
}

.form__body
{
    display: flex;
    justify-content: center;
}

.form__input-email 
{
    max-width: 375px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12px;
    color: #817F83; 
    padding: 0 35px;
}

.form__btn
{
    padding: 18px 45px;
    background: rgba(255, 255, 255, 0.28);
    font-family: 'Roboto';
    font-size: 12px;
    font-size: 12px;
    color: #F8F8F8;
    /* margin-left: -5px; */
}

.footer 
{
    z-index: 1;
    padding: 31px 0;
    
    position: relative;
}

.footer__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .menu 
{
    padding: 0;
}

.footer .menu__item 
{
    padding: 8px 5px 16px;
    margin: 0px 3px 0px;
    color: rgba(255, 255, 255, 0.6);
}

.footer::before
{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 47, 56, 0.6);
}

.header_theme-dark
{
    color: #2E2E2E;
}

.header_theme-dark .menu__item 
{
    color: #2E2E2E;
}

.post__title 
{
    font-family: 'Lora';
    font-size: 50px;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-align: center;
    margin-bottom: 21px;
}

.post__subtitle 
{
    font-family: 'Oxygen';
    font-size: 17px;
    color: rgba(46, 46, 46, 0.63);
    text-align: center;
}

.post__img
{
    width: 100%;
}

.post__wrapper-text
{
    background-color: #F7F7F7;
}
    
.post__text 
{
    padding: 140px 0;
    font-family: 'Oxygen';
    font-size: 24px;
    line-height: 1.46;
    color: #101315;
}

.login__wrapper 
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url('../img/background/admin-bg.png') center center/cover no-repeat;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.login__descr-title 
{
    font: 45px/1.11 'Lora'; 
    margin-bottom: 16px;
}

.login__descr-title span
{
    font: 24px/1.29 'Oxygen'; 
}

.login__descr-text
{
    font: 17px/1.47 'Oxygen'; 
}

.admin-form
{
    color: #000000;
}

.admin-form_login
{ 
    max-width: 480px;
    width: 100%;  
    padding: 56px 40px;
    background-color: #FFFFFF;
}

.admin-form__title
{
    font: 34px/1.17 'Lora';
    margin-bottom: 41px;
}

.admin-form__info 
{
    position: relative;
    width: 100%;
    padding: 10px 12px 10px 46px;
    font: 14px/1.42 'Oxygen';
    border-radius: 5px;
    /* display: none; */
    margin-bottom: 40px;
}

.admin-form__error {
    background: #FFEBEA;
    border-left: 2px solid #E86961;
}

.admin-form__success
{
    background: #E6FCEF;
    border-left: 2px solid #67C48C;
}


.admin-form__info::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
} 

.admin-form__error::before
{
    background: url('../img/icons/alert-circle.svg') center center/cover no-repeat;
} 

.admin-form__success::before
{
    background: url('../img/icons/check-circle.svg') center center/cover no-repeat;
}


.admin-form__input-wrapper
{
    margin-bottom: 40px;
}

.admin-form__input-text-wrapper
{
    display: flex;
    flex-direction: column;
    position: relative;
}

.admin-form__input-label
{
    display: block;
    color: #7A7A7A;
    font: 12px/1.3 'Oxygen';
    margin-bottom: 5px;
}

.admin-form__input-text
{
    padding: 8px 4px;
    background: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
    font: 16px/1.5 'Oxygen';
    margin-bottom: 5px;
}

.admin-form__input-text_active
{
    background: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
}

.admin-form__input-text_error
{
    border-bottom: 1px solid #E86961;
}


.admin-form__input-text_password::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/icons/password-eye.svg') center center/cover no-repeat;
}

.admin-form__input-error
{
    font: 12px/1.3 'Oxygen'; 
    color: #E86961;
}

.admin-form__btn
{
    display: block;
    padding: 12px 24px;
    background: #DD783F;
    border-radius: 3px;
    font: 16px/1.5 'Oxygen';
    color: #FFFFFF;
}

.admin-post
{
    background: #F7F7F7;
}

.admin-post__header
{
    padding: 17px 0;
    background: #2E2E2E;
    margin-bottom: 81px;
}

.admin-post__header-inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-post__header-logo
{
    font: 25px/1.1 'Lora';
}

.admin-post__header-logo span
{
    font: 13px/1.3 'Oxygen';
}

.admin-post__login
{
    display: flex;
    align-items: center;
}

.admin-post__exit-btn
{
    width: 24px;
    height: 24px;
    background: url('../img/icons/exit-icon.svg') center center/cover no-repeat;
    margin-left: 16px; 
}

.admin-form__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}

.admin-post__form-title
{
    margin-bottom: 8px;
}

.admin-form__header-text
{
    font: 14px/1.4 'Oxygen';
    color: rgba(46, 46, 46, 0.63);
}

.admin-post__form-info 
{
    margin-bottom: 16px;
}

.admin-form__section
{
    background-color: #FFFFFF;
    margin-bottom: 16px;
    padding: 40px;
}




.admin-form__section-title
{
    font: 27px/1.1 'Lora';
    margin-bottom: 40px;
}

.admin-form__container
{
    display: flex;
    justify-content: space-between;
}

.admin-form__column
{
    width: 100%;
}

.admin-form__column_inputs
{
    max-width: 560px;
}

.admin-form__input-photo 
{
    visibility: hidden;
    height: 0;
    width: 0;
}

.admin-form__input-avatar
{
    display: block;
    width: 48px;
    height: 48px;
    border: 1px dashed #D3D3D3;
    border-radius: 24px;
    background: url('../img/icons/camera.svg') center center no-repeat;
    background-color: #F7F7F7;
    margin: 5px 16px 0 0;
}

.admin-form__input-photo-wrapper
{
    display: flex;
    align-items: center;
}

.admin-form__input-btn
{
    position: relative;
    font: 16px/1.5 'Oxygen';
    margin-right: 16px;
}

.admin-form__input-upload-new, .admin-form__input-remove
{
    padding-left: 32px;
}

.admin-form__input-upload-new::before, .admin-form__input-remove::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.admin-form__input-upload-new::before
{
    background: url('../img/icons/camera.svg') center center no-repeat;
}

.admin-form__input-remove::before
{
    background: url('../img/icons/basket.svg') center center no-repeat;
}

.admin-form__image-upload
{
    display: block;
    width: 100%;
    background: #F7F7F7;
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
    background-color: #F7F7F7;
    margin-bottom: 12px;
    background: url('../img/background/hero-img.png')  center center/cover  no-repeat;
}

.admin-form__big-image-upload
{
    max-width: 560px;
    height: 160px;
}

.admin-form__small-image-upload
{
    max-width: 296px;
    height: 150px;
}

.admin-form__image-info
{
    font: 12px/1.3 'Oxygen';
    color: #999999;
}

.admin-form__textarea
{
    max-width: 960px;
    height: 181px;
    padding: 8px;
    min-height: 160px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    resize: none;
}

.admin-form__column_preview
{
    max-width: 440px;
}

.admin-form__preview
{
    padding: 32px 16px 0px;
    isolation: isolate;
    min-height: 385px;
    background: #FFFFFF;
    border-left: 1px solid #D3D3D3;
    border-top: 1px solid #D3D3D3;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 20px;
}

.admin-form__window
{
    border-left: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-radius: 8px;
}

.admin-form__window-header
{
    padding: 10px 16px 10px 16px;
    border-bottom: 1px solid #EAEAEA;
}

.admin-form__window-menu
{
    position: relative;
    width: 4px;
    height: 4px;
    background: #D9D9D9;
    border-radius: 50%;
}

.admin-form__window-menu::before, .admin-form__window-menu::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    display: block;
    width: 4px;
    height: 4px;
    background: #D9D9D9;
    border-radius: 50%;
}

.admin-form__window-menu::before
{
    left: -7px;
}

.admin-form__window-menu::after
{
    left: 7px;
}

.admin-form__post-preview
{
    padding: 30px 0px;
    text-align: center;
}

.admin-form__post-preview-title
{
    font: 20px/1.4 'Lora';
    margin-bottom: 4px;
}

.admin-form__post-preview-subtitle
{
    font: 10px/1.2 'Oxygen';
    color: rgba(46, 46, 46, 0.63);
    margin-bottom: 36px;
}

.admin-form__post-preview-img
{
    height: 160px;
    background: #F7F7F7;
}

.admin-form__post-card-preview 
{
    border: 1px solid #EAEAEA;
}

.admin-form__post-card-preview-img
{
    height: 150px;
    width: 295px;
    background-image: #F7F7F7;
}

.admin-form__post-card-preview-photo
{
    height: 26px;
    width: 26px;
    border-radius: 60px;
    background-image: #F7F7F7;
    margin-right: 10px;
}

.admin-form__preview-wrapper
{
    position: relative;
}

.admin-form__preview-wrapper::before
{
    width: 30%;
    height: 385px;
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.72%);
    z-index: 1;
}

.admin-form__preview-wrapper::after
{
    width: 100%;
    height: 72px;
    content: '';
    position: absolute;
    bottom: 0;
    left: -5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    z-index: 1;
}

.admin-form__preview-label
{
    margin-bottom: 16px;
}


.hidden
{
    display: none;
}
